.App{

}
.header{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
  background-color: #388E3C;
  color: white;
  padding: 10px;
}
@media(max-width:420px){
  .header{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: #388E3C;
    color: white;
    padding: 10px;
  }
}
.menu__item{
  display: inline;
  background: rgba(128, 128, 128, 0.212);
  border: 0;
  color: white;
  padding: 10px 15px;
  border-radius:5px;
  font-size: 20px;
  outline: none;
}
@media(max-width:420px){
  .menu__item{
    display: none;
  }
}
.menu__item:hover{
  background-color: ghostwhite;
  color: black;
}
.footer{
  width:98%;
  border-top: 4px solid  #388E3C;
  padding: 10px;
  margin:20px auto;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  align-items: center;
  font-weight: 100;
}

.card__img {
  width: 100%;
}
a{
  text-decoration: none;
}
.search{
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("./icons/search.svg");
  background-size: 100% 100%;
  border: 0;
  color: black;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}
#search{
  border: none;
  font-size: 20px;
  padding: 10px;
  outline: none;
}
.header-container{
  padding: 0px 25px 0px 0;
  display: grid;
  grid-template-columns:  auto 1fr ;
}
@media(max-width:420px){
  .header-container{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
}
.search-container{
  border:1px solid transparent;
  border-radius: 5px;
  display: grid;
  grid-template-columns:  auto 1fr auto ;
  background-color: white;
  margin: 10px;
  padding: 0 5px;
}
@media(max-width:420px){
.search-container{
  margin: 0 0 10px 0;
}
.product__title{
  font-size: 17px;
}
}